@model List<blogmvc.Models.Option>
@{
    ViewBag.Title = "User";
    //Layout = "~/Views/Admin/_ViewStart.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h2>User Profile</h2>
    @*
        @using (Html.BeginForm("UserProfile", "Admin", FormMethod.Get))
        {
        }
    *@
    <table class="table">
        <tr>
            <th>
                Option
            </th>
            <th>
                Value
            </th>
        </tr>


        @foreach (var item in Model)
        {

            <tr>

                <th>

                    @Html.DisplayFor(modelItem => item.OptionName)

                </th>
                <th>
                    @Html.TextBoxFor(modelItem => item.OptionValue)
                    @*@Html.DisplayFor(modelItem => item.OptionValue)*@
                </th>

            </tr>


        }
    </table>
    @using (Html.BeginForm("EditOption", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Save" class="btn btn-default" />
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}








    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>



